.section {
  padding: 1rem;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
}

.card {
  background: $c-pure-white;

  &__header {
    padding: 0.5rem;
    background: $c-primary;
    color: $c-white;

    &-title {
      margin: 0;
    }
  }

  &__body {
    padding: 0.5rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}

.input {
  width: 100%;
  padding: 0.3rem;
  border: 0;
  border-bottom: $c-secondary 0.2rem solid;
}
